::-webkit-scrollbar {
  display: none;
}

:root {
  --sidebar-bg: #11355a;
  --content-bg: #ffffff;
  --border-color: #e9ecef;
  font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #5895d2;
}

input {
  margin: 0;
  background-color: gray;
  color: #fff;

  &[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }

  &[type="color"] {
    background-color: inherit;
  }

  &::placeholder {
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}